<app-navigation></app-navigation>
<div style="display: flex;">
    <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;">
        <mat-card-header>
        <mat-card-title>{{movie.Title}}</mat-card-title>
        </mat-card-header>
        <img src={{movie.ImagePath}} alt= {{movie.Title}} />
        <mat-card-actions>
            <button
                mat-raised-button
                (click)="openDescriptionCard(
                    movie.Title, 
                    movie.Description)"
                style="margin: 10px;"
                color="primary"
            >
                Description
            </button>

            <button
                mat-raised-button
                (click)="openGenreCard(
                    movie.Genre.Name, 
                    movie.Genre.Description)"
                style="margin: 10px;"
                color="primary"
            >
                Genre
            </button>
            <button
                mat-raised-button
                (click)="openDirectorCard(
                    movie.Director.Name, 
                    movie.Director.Bio, 
                    movie.Director.Birth)"
                style="margin: 10px;"
                color="primary"
            >
                Director
            </button>

            
            <button 
            mat-icon-button color="warn" 
            (click)="addFavorite(movie)">
                <mat-icon>favorite_border</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>