<app-navigation></app-navigation>
<div class="profile-body">
  <mat-card class="profile-background">
    <div class="user-info">
      <h2>Hello {{ user.Username }}!</h2>
      <mat-card-header> </mat-card-header>
      <mat-card-content>
        <h3><b>Username: </b>{{ this.user.Username }}</h3>
        <h3><b>Email: </b>{{ user.Email }}</h3>
        <h3><b>Birthday: </b>{{ user.Birthday }}</h3>
        <br />
        <button
          class="profile-button"
          mat-raised-button
          (click)="editUserProfile()"
          style="margin-right: 10px"
          color="primary"
        >
          Edit Profile
        </button>
        <button
          class="profile-button"
          color="warn"
          mat-raised-button
          (click)="deleteUserProfile()"
        >
          Delete Profile
        </button>
      </mat-card-content>
    </div>
  </mat-card>
  <div class="favorite-movies">
    <div *ngIf="displayElement; else message">
      <h2>Favorite movies</h2>
      <mat-card *ngFor="let movie of favoriteMovies; let i = index">
        <mat-dialog-content>
          <mat-card-title>{{ movie.title }}</mat-card-title>
          <mat-card-subtitle
            ><img class="movie-image" src="{{ movie.ImagePath }}"
          /></mat-card-subtitle>
          <mat-card-header>
            <button
              class="director-button"
              mat-button
              color="primary"
              (click)="
                openDirectorCard(
                  movie.Director.Name,
                  movie.Director.Bio,
                  movie.Director.Birth
                )
              "
            >
              Director Details
            </button>

            <button
              class="genre-button"
              mat-button
              color="primary"
              (click)="
                openGenreCard(movie.Genre.Name, movie.Genre.Description)
              "
            >
              Genre Details
            </button>
            <button
              class="description-button"
              mat-button
              color="primary"
              (click)="
                openMovieDescription(movie.Title, movie.ImagePath, movie.Description)
              "
            >
              Description
            </button>
            <button
              class="delete-button"
              mat-button
              color="primary"
              (click)="deleteFavoriteMovies(movie._id)"
            >
              Delete Favorite Movie
            </button>
          </mat-card-header>
        </mat-dialog-content>
      </mat-card>
    </div>
    <ng-template #message>
      <h2>You don't have any favorite movies right now!</h2>
    </ng-template>
  </div>
</div>
