@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin-top: 45px;
}

.profile-body {
    display: flex;
    justify-content: center;
    margin: 5px 5px;
    font-family: 'Barlow', sans-serif;
}

.profile-background {
    background-color: #bab8e738;
}

.favorite-movies {
    display: flex;
    justify-content: center;
    margin-left: 5px;
}

.mat-card img{
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 10rem;
  }

.mat-card-title {
    color: black;
}

